#about {
  background: #fff;
}
.app__profiles {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 900px) {
    flex-direction: column;
    gap: 50px;
  }
}
.app__information {
  flex-basis: 30%;
  padding: 0 2rem;
  @media screen and (max-width: 900px) {
    flex: 1;
    padding: 0;
  }
  &--item {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 2rem;
    border: 1px solid var(--gray-color);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    img {
      opacity: 0.9;
      display: block;
      width: 30px;
      height: 30px;
    }
    h2 {
      margin: 0;
    }
    p {
      font-size: 16px;
    }
    &:hover {
      background: var(--secondary-color);
      img {
        filter: invert(1);
      }
      h2 {
        color: #fff;
      }
    }
    @media screen and(min-width: 2000px) {
      img {
        width: 80px;
        height: 80px;
        margin-right: 20px;
      }
    }
  }
}
.app__objective {
  flex-basis: 70%;
  padding: 2rem;
  @media screen and (max-width: 900px) {
    flex: 1;
    padding: 0;
  }
  &--item {
    margin-top: 1rem;
    span {
      color: var(--gray-color);
    }
    p {
      margin-top: 5px;
      font-size: 18px;
      line-height: 28px;
    }
  }
}
