.app__toggle {
  width: 25px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #999;
  background-color: white;
  position: fixed;
  top: 70px;
  right: 10px;
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  img {
    width: 15px;
    height: 15px;
  }

  div {
    position: absolute;
    left: 1px;
    top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--secondary-color);
    cursor: pointer;
  }
}
